node_modules/
dist/
.DS_Store
*.log
.env
.env.local



# Local Netlify folder
.netlify

# Large video files
assets/images/Stats.mov
assets/images/companycam.mov
assets/images/Icons/CrazyComfort_Logo_Files copy/CrazyComfort/Cursor/
